# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem
serviceAccountKey.json

# Node
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local Environment Variables
.env.local
.env.development.local
.env.production.local
.env.test.local

# Turbopack
.turbo

# IDEs and editors
.vscode/
!.vscode/extensions.json
.idea/
*.swp
*.swo
.vercel
